body{
    background-image: url(https://wallpaperaccess.com/full/104815.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}


#searchcitydisplaycard,#citydisplayjumbotron,#historydisplayjumbotron{
    background-color: rgba(0, 0, 0, 0.6);
}

#searchbtn{
    background-color: lightblue;
    color: white;
}


hr{
    background-color: white;
}

#futurecard, #historydisplaybtn{
    background-color: lightblue;
    display: inline-block;
}

#futurecard{
    border-style: solid;
    border-color: white;
    border-width: 2px;
}


